appdirs==1.4.4
beautifulsoup4==4.9.2
black==21.4b2
bs4==0.0.1
cfgv==3.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==2.3.2
gunicorn==20.0.4
identify==2.2.4
itsdangerous==1.1.0
Jinja2==2.11.3
langdetect==1.0.8
Markdown==3.2.2
markdown-captions==2
MarkupSafe==1.1.1
micawber==0.5.1
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.8.1
pre-commit==2.12.1
Pygments==2.7.4
PyYAML==5.4.1
regex==2021.4.4
six==1.15.0
soupsieve==2.0.1
supervisor==4.2.1
toml==0.10.2
virtualenv==20.4.4
Werkzeug==1.0.1
