{% extends "base.html" %} {% block title %}{{ article.title }}{% endblock %} {%
block content %}
<div class="row shadow mb-5 bg-white article">
  <div class="col-md-12">
    <h1 class="text-center">{{ article.title }}</h1>
    
    <div class="article-meta text-center">
      <label>{{ article.locale_date }}</label> | 
      <label>{{ article.category }}</label> |
      <label>Tags: 
        {% for tag in article.tags %}
          {{tag}}, 
        {% endfor %}
      </label>
    </div>
    
    <div class="article-content" dir="{{article.direction}}">      
      {{ article.content }}
    </div>
    
  </div>
</div>
{% endblock %}
