body {
    font-family: monospace;
}

blockquote {
    background: #e2e2e2;    
    padding: 0.5em 10px;    
}

blockquote p {
    display: inline;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
footer p {
    margin-bottom: 0.25rem;
}

hr {
    margin-top: 25px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
  
.main-content {
    margin-top: 100px;
}
  
.nav-social a {
    margin-right: 10px;    
}

a {
	color: #252525;;
	text-decoration-thickness: 0.3ex;
	text-underline-offset: 0.3ex;
}

time {
    font-style: italic;
    color: var(--gray);
}

.title {
    font-size: 1.5em;
    color: gray
}

.article {    
    margin: 0 auto;
    max-width: 650px;  
    width: 80%;    
}

.article h1 {	
	font-size: 28px;
}

.article h2 {
    font-size: 24px;
    margin-top: 15px;
}

.article img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.article p {    
    line-height: 2.5;
    margin-bottom: 0px;
	margin-top: 15px;
}

.article ol li, .article ul li {
	margin-bottom: 10px;
    line-height: 2;
}

.article-content {
    margin-top: 50px;
}

.highlight pre {
    padding: 10px;
}

.navbar-nav a {
    margin-right: 20px;
}

.header-title {
    font-size: 2.5rem;
    font-weight: 700;    
    border-bottom: 3px solid #796eff;    
    padding-bottom: 10px;
    font-family: 'Space Mono', monospace;
    margin-bottom: 30px;    
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #796eff;
}

.about {
    max-width: 650px;
}

.links {
    margin: 25px 0;
}

.links a:not(:last-child) {
	padding: 0 12px 0 0; 
}

.about p {
    font-family: 'Space Mono', monospace;
    line-height: 2.0;
    text-align: left;
}

.highlight {
    direction: ltr;
    text-align: left;
}

