{% extends "base.html" %} 

{% block title %}{{ SITENAME }}{% endblock %} 

{% block content %}

<div class="rounded bg-white p-3 container">
    <div class="row">
        <div class="col-sm-12">
            <img src="../static/images/face.png" height="150px"/>
        </div>
        
        <div class="col-sm-12">
            <p>
                Hi, it's Mohanad! 👋 .. I'm happy to have you here in my personal space!! yipee!!...
            </p>
            
            <p>
                I'm a Software Engineer, worked with several startups including 
                <a href="https://www.gbgplc.com/idscan/" target="_blank">IDscan</a>,
                <a href="https://omni.co/" target="_blank">Omni</a>, and currently with Coinbase.
                Oh also co-founded <a href="https://aiinarabic.com" target="_blank">aiinarabic</a> which is a cooperative blog to share articles in the field of artificial intelligence.
            </p>
        
            <p>
                I born and raised in Syria. Currently, I live in the United States, oh also lived in Turkey for one year (it was beautifl)...
            </p>
            
            <p>
                Things I'm interested in drawing, cycling and all kinds of outdoor activities. I like to read as well although I'm slow like a snail in reading 🐌.
            </p>
            
            <p>
                In this space, you can expect anything, from techi to totally random posts. Also, books I read and recommend and maybe other useless stuff!.         
            </p> 
        </div>
    </div>
    
    <div>
        
    </div>  
</div>

{{posts}}

{% endblock %}
