{% extends "base.html" %} 

{% block title %}{{ config.SITENAME }} | Home {% endblock %} 

{% block content %}

<div class="rounded bg-white p-3 container about">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <img src="../static/images/face.png" height="150px"/>
        </div>
        
        <div class="col-sm-12">
            <p>
                Hi, it's Mohanad! 👋 .. I'm happy to have you here in my personal space!! yipee!!...
            </p>
            
            <p>
                I'm a Software Engineer, worked with several startups including 
                <a href="https://www.gbgplc.com/idscan/" target="_blank">IDscan</a>,
                <a href="https://omni.co/" target="_blank">Omni</a>, and currently with Coinbase.
                Oh also co-founded <a href="https://aiinarabic.com" target="_blank">aiinarabic</a>.
            </p>
        
            <p>
                I born and raised in Syria. Currently, I live in the United States, also lived in Turkey for one year (it was beautiful)...
            </p>
            
            <p>
                Things I'm interested in are drawing, cycling and all kinds of outdoor activities. I like to read as well although I'm slow like a snail in reading 🐌.
            </p>
            
            <p>
                In this space, you can expect anything, from techi to totally random posts. Also, books I read and recommend and maybe other useless stuff!.         
            </p> 
        </div>
    </div>
</div>

</br>
</br>
</br>

<div class="row justify-content-center">
    <h1 class="header-title">Latest Posts</h1>
</div>

<div class="container">
    <div class="row">
        {% for post in posts[:3] %}        
        <div class=".col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card mb-4 p-3 bg-white rounded">       
                <img src="{{ post.cover }}" class="card-img-top" alt="{{ post.title }}" height="225" width="100%">
                
                <div class="card-body">
                    <h1><a href="/{{ post.slug }}"><mark>{{post.title}}</mark></a></h1>
                    <p class="card-text" dir="{{post.direction}}" {{ 'style="text-align: right;"' if post.direction == 'rtl' else '' }}>            
                        {{ post.summary | striptags }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <a href="/{{ post.slug }}" class="btn btn-sm btn-outline-primary">
                            Read Me 🤓
                        </a>             
                        </div>
                        <small class="text-muted">{{ post.date }}</small>
                    </div>            
                </div>
            </div>                  
        </div>
        {% else %}
            No posts yet!   
        {% endfor %}  
    </div> 
</div>

<div class="row justify-content-center">
    <div class="">
        <div class="btn-group">
            <a href="{{ config.SITEURL }}/blog" class="btn btn-sm btn-outline-primary">
            Check Previous Posts
            </a>             
        </div>
    </div>
</div>

</br>
</br>
{% endblock %}
